---
BasedOnStyle: LLVM

########################################
# Language
########################################

Language: Cpp
Standard: c++20


########################################
# Indentation
########################################

IndentWidth: 4
TabWidth: 4
UseTab: Never

ContinuationIndentWidth: 4
ConstructorInitializerIndentWidth: 4


########################################
# Line width
########################################

ColumnLimit: 120


########################################
# Braces - Allman
########################################

BreakBeforeBraces: Allman

BraceWrapping:
  AfterClass: true
  AfterStruct: true
  AfterEnum: true
  AfterFunction: true
  AfterNamespace: true
  AfterControlStatement: Always
  BeforeElse: true
  BeforeCatch: true
  SplitEmptyFunction: false
  SplitEmptyRecord: false
  SplitEmptyNamespace: false


########################################
# Short statements
########################################

AllowShortFunctionsOnASingleLine: Empty
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
AllowShortBlocksOnASingleLine: Never

AllowShortEnumsOnASingleLine: false
AllowShortCaseLabelsOnASingleLine: false


########################################
# Pointers / references
########################################

DerivePointerAlignment: false

PointerAlignment: Left
ReferenceAlignment: Left


########################################
# Classes
########################################

AccessModifierOffset: -4
EmptyLineBeforeAccessModifier: LogicalBlock

BreakInheritanceList: BeforeColon
BreakConstructorInitializers: BeforeComma


########################################
# Functions
########################################

BinPackArguments: false
BinPackParameters: false

AllowAllArgumentsOnNextLine: false
AllowAllParametersOfDeclarationOnNextLine: false

PenaltyReturnTypeOnItsOwnLine: 1000


########################################
# Calls
########################################

AlignAfterOpenBracket: Align

BreakBeforeBinaryOperators: None

BreakBeforeTernaryOperators: true


########################################
# Initializers
########################################

Cpp11BracedListStyle: true

SpaceBeforeCpp11BracedList: false

BreakArrays: true


########################################
# Includes
########################################

SortIncludes: true
IncludeBlocks: Regroup

IncludeCategories:
  - Regex: '^<.*>'
    Priority: 1

  - Regex: '^".*"'
    Priority: 2


########################################
# Namespaces
########################################

NamespaceIndentation: None

FixNamespaceComments: true


########################################
# Switch
########################################

IndentCaseLabels: true


########################################
# Alignment
########################################

AlignConsecutiveAssignments:
  Enabled: false

AlignConsecutiveDeclarations:
  Enabled: false

AlignTrailingComments: false


########################################
# Spaces
########################################

SpaceBeforeParens: ControlStatements

SpacesInAngles: false

SpacesInContainerLiterals: false

SpaceAfterCStyleCast: true

SpaceAfterTemplateKeyword: false


########################################
# Comments
########################################

ReflowComments: true

SpacesBeforeTrailingComments: 2


########################################
# Empty lines
########################################

KeepEmptyLinesAtTheStartOfBlocks: false

MaxEmptyLinesToKeep: 1


########################################
# Modern C++
########################################

SortUsingDeclarations: true

PackConstructorInitializers: Never

LambdaBodyIndentation: Signature


########################################
# Macros
########################################

StatementMacros:
  - Q_UNUSED
  - RLAPI

TypenameMacros:
  - STACK_OF


########################################
# Objective quality
########################################

RemoveBracesLLVM: false

InsertBraces: true